body {
background-image: url('fondo.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100% 100%;
}
#Titulo1 {
    text-align: center;
    font-family: monospace;
    font-size: 70px;
    position: relative;
   text-transform: uppercase;
    text-shadow:salmon 0 0 10px;
}
#Titulo2 {
    text-align: center;
    font-family:monospace;
    font-display:initial ;
    text-shadow:0 0 10px moccasin;
}
#list {
    background-color:lemonchiffon;
    margin-left: 20px;
}
#list_text {
    margin-left: 20px;
    font-size:inherit;
   }